.ng_m_g{
    border-radius: 30px;
    background-color: rgb(233, 232, 232);;
    // background-image: linear-gradient(
    //     rgba(0, 0, 0, 0.1),
    //     rgba(0, 0, 0, 0.1)
    //   ),url(../../../../assets/images/sun-tornado.svg);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
}
.color_white{
    color: rgb(49, 49, 49);
}
.csider_g{
    background-image: linear-gradient(
        rgba(31, 40, 105, 0.99),
        rgba(21, 25, 59, 0.99)
      ),url(../../../../assets/images/sun-tornado.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
