.bg-main{
    background-image: url(../../../../assets/images/bag2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.card_login{
    width: 100% !important;

    color: #1C2568;
  border: 1px whitesmoke solid;
}
.card_main{
    border-radius: 20px;
    min-height: 500px !important;
    border: none;
}
.card_img{
    min-width: 450px !important;
    background-image: url(../../../../assets/images/sun-tornado.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text-main{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.39);
}
.text-h1{
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: #1C2568;
}
.btn_main{
    margin-top: 20px;
    width: 100%;
    color: white;
    border-radius: 20px;
    background-color: #1C2568;
    border: none;
}
.btn_main:hover{
    margin-top: 20px;
    width: 100%;
    color: #1C2568;
    background-color: whitesmoke;
    border-radius: 20px;
    border: 2px solid #1C2568;
}
.icon_g{
    position: absolute;
    border-radius: 30px 0 30px !important;
    width: 60px;
    height: 50px;
    padding-left: 25px;
    text-align: center;
    font-size: 30px !important;
    border: none;
    top: -5px;
    color: #f1ece7;
    z-index: 200;
    background-color: #1C2568;
}
.incongroup{
    margin-left: 40px !important;

    background-color: rgb(216, 216, 216);
    padding: 5px 0 5px 25px;
    font-size: 15px;
    border-radius: 0 30px 30px 0 !important;
    border: none;
    ::after{
        background-color: #1C2568;
    }
}

@media only screen and (max-width : 1000px) {
    .card_img{
        display: none;
        background-color: rgb(158, 49, 49) ;
    }
    }
// #114358 - principal
// # - complementario
// #f1ece7 - complementario
// #090909 - oscuro
// #ffffff - calro
